body {
  color: #020202;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1vh;
}
header {
  margin: 5vmin;
  text-align: center;
  box-sizing: border-box;
}
header .logo {
  height: 16vmin;
}

.name {
  font-family: sans-serif;
  user-select: none;
  margin-top: -1em;
}

.name .en-name {
  margin: 0;
  font-size: 2em;
}

.name .jp-name {
  margin: 0;
  font-size: 3.2em;
}

.link {
  height: 48px;
}

.link ul li {
  display: inline-block;
  margin-right: 2em;
}

.link ul li img {
  width: 48px;
  height: 48px;
  user-select: none;
  transition: 0.2s;
}
.link ul li img:hover {
  width: 64px;
  height: 64px;
}

.contents {
  width: 958px;
  height: 498px;
  border: dashed 1px 0.999;
  margin: 10px 0px 10px 0px;
}

footer {
  border: dashed 1px 0.999;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.content {
  margin: 0 auto;
  box-sizing: border-box;
  width: 80vmin;
}

.content h2 {
  font-size: 3em;
  border-bottom: 1px solid #020202;
}
.content p {
  font-size: 2em;
}
.content ul li {
  font-size: 2em;
}

#mail-address a {
  color: #020202;
}

footer {
  width: 95vmin;
  margin: 0 auto;
  margin-top: 3vh;
  border-top: #8f8f8f solid 1px;
  font-size: 1.5em;
  text-align: center;
}
